.idea
.vscode
/bitrix/backup 
/bitrix/cache 
/bitrix/crontab 
/bitrix/managed_cache 
/bitrix/managed_flags 
/bitrix/modules/*.log
/bitrix/php_interface
/bitrix/stack_cache
/bitrix/tmp
/bitrix/log
/bitrix/.settings.php
/bower_components/
/desktop_app
/node_modules
/mobile
/upload
/local/migration/custom/import_files
/local/migration/main/export_files
/log.txt
/vendor
/log
/local/php_interface/vendor
/zip
*.tar.gz
*.js.gz
*.css.gz
*.log
.htaccess
*.zip
/exchange/tessa/log
/exchange/sed/log