<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
</head>

<body>
<link rel="stylesheet" href="src/element-ui/lib/theme/index.css"/>
<link rel="stylesheet" href="src/css/main.css"/>

<div id="app">
    <div class="course-content">
        <course-table></course-table>
    </div>


</div>
</body>


<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script>
    Vue.component('course-detail', {
        props: ['courseTitle', 'courseId'],
        template: `
        <div class="students-btns">
            <div class="students-btn">
                <a style="cursor:pointer" @click="openDetailBtn(courseId)">{{courseTitle}}</a>
                <el-dialog :visible.sync="detailBtn" title="Детализация" fullscreen>
                    <div class="course-body">
                        <div class="course-title">{{ title }}</div>
                        <template>
                            <el-table :data="course">
                            <el-table-column
                                label="Тематика курса"
                                width="150">
                            <template slot-scope="scope">
                                {{scope.row.theme}}
                            </template>
                            </el-table-column>
                            <el-table-column
                                    label="Название курса"
                                    width="150">
                                <template slot-scope="scope">
                                    {{scope.row.name}}
                                </template>
                            </el-table-column>
                            <el-table-column
                                    label="Описание курса"
                                    width="150">
                                <template slot-scope="scope">
                                    {{scope.row.description}}
                                </template>
                            </el-table-column>
                            <el-table-column
                                    label="Дата старта"
                                    width="120">
                                <template slot-scope="scope">
                                    {{scope.row.date}}
                                </template>
                            </el-table-column>
                            <el-table-column
                                    label="Ссылка на видео"
                                    width="150">
                                <template slot-scope="scope">
                                    <a href="/">{{scope.row.link}}</a>
                                </template>
                            </el-table-column>
                            <el-table-column
                                    label="Список учащихся"
                                    width="500">
                                <template slot-scope="scope">
                                    <ul class="students-list">
                                        <li class="students-item" v-for="(item, index) in student" :key="item.id" v-if="item.courseId == courseId">
                                            <div class="student-item">{{ item.family }}</div>
                                            <div class="student-item">{{ item.name }}</div>
                                            <div class="student-item">{{ item.surname }}</div>
                                            <el-button class="student-item del" icon="el-icon-close" circle size="mini" @click="deleteStudent(index)"></el-button>
                                        </li>
                                    </ul>
                                    <add-students @add-student="addNewStudent"></add-students>
                                </template>
                            </el-table-column>
                            </el-table>
                        </template>
                    </div>
                </el-dialog>
            </div>
        </div>
        `,
        data() {
            return {
                addBtn: false,
                detailBtn: false,

                title: 'Карточка обучающего курса',

                course: [
                    {
                        id: '1',
                        theme: 'Тематика курса 1',
                        name: 'Название курса 1',
                        description: 'Описание курса 1',
                        date: '10.12.2019',
                        link: 'http://test.ru/'
                    },
                    {
                        id: '2',
                        theme: 'Тематика курса 2',
                        name: 'Название курса 2',
                        description: 'Описание курса 2',
                        date: '09.12.2019',
                        link: 'http://test.ru/'
                    }
                ],

                student: [
                    {id: 1, family: "Иванов", name: "Иван", surname: "Иванович"},
                    {id: 2, family: "Петров", name: "Петр", surname: "Петрович"},
                    {id: 3, family: "Сидоров", name: "Сидор", surname: "Сидорович"},
                ],
            }
        },

        mounted() {
            if (localStorage.getItem('student')) {
                try {
                    this.student = JSON.parse(localStorage.getItem('student'));
                } catch (e) {
                    localStorage.removeItem('student');
                }
            }
            if (localStorage.getItem('course')) {
                try {
                    this.course = JSON.parse(localStorage.getItem('course'));
                } catch (e) {
                    localStorage.removeItem('course');
                }
            }
        },

        methods: {
            openDetailBtn(id) {
                this.detailBtn = true
                this.course = this.course.filter(c => c.id == id)
            },
            saveStudents() {
                console.log(this.courseId);
                const parsed = JSON.stringify(this.student);

                localStorage.setItem('student', parsed);
                this.addBtn = false;
            },

            deleteStudent(itemIndex) {
                this.student.splice(itemIndex, 1);
                this.saveStudents();
            },
            addNewStudent(newStudentName, newStudentFamily, newStudentSurname) {

                //console.log(newStudentFamily);
                if (!newStudentFamily || !newStudentName || !newStudentSurname) {
                    this.$message('Одно из полей не заполнено');
                } else {
                    this.student.push({
                        courseId: this.courseId,
                        id: this.student.length + 1,
                        name: newStudentName,
                        family: newStudentFamily,
                        surname: newStudentSurname
                    });
                    this.saveStudents();
                }
            },
        },
    });


    Vue.component('add-students', {
        template: `
            <div class="students-btns">
                <div class="students-btn">
                    <el-button type="primary" size="mini" @click="addBtn = true">Добавить</el-button>
                    <el-dialog :visible.sync="addBtn" title="Добавление учащегося">
                        <div class="add-form">
                            <input class="el-input__inner" placeholder="фамилия"
                                   v-model="newStudentFamily">
                            <input class="el-input__inner" placeholder="имя"
                                   v-model="newStudentName">
                            <input class="el-input__inner" placeholder="отчество"
                                   v-model="newStudentSurname">

                            <div class="add-form-btns">
                                <el-button type="primary" @click="addStudent" size="mini">Добавить
                                </el-button>
                                <el-button @click="addBtn = false" size="mini">Отмена</el-button>
                            </div>
                        </div>
                    </el-dialog>
                </div>

                <div class="students-btn"></div>
            </div>
        `,
        data() {
            return {
                addBtn: false,

                newStudentName: null,
                newStudentFamily: null,
                newStudentSurname: null,
            }
        },

        methods: {
            addStudent() {
                //console.log(this.newStudentName);
                this.$emit('add-student', this.newStudentName, this.newStudentFamily, this.newStudentSurname);
                this.addBtn = false;
                this.newStudentName = null;
                this.newStudentFamily = null;
                this.newStudentSurname = null;
            },
        },
    });

    Vue.component('course-table', {
        template: `
            <div class="course-body">
            <el-button type="primary" size="mini" @click="addCourseToStorage()">Course</el-button>

                <div class="course-title">{{ title }}</div>
                <template>
                    <el-table
                            :data="course"
                            style="width: 100%">
                        <el-table-column
                                label="Дата старта курса"
                                width="250">
                            <template slot-scope="scope">
                                {{scope.row.date}}
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="Название курса"
                                width="250">
                            <template slot-scope="scope">
                                <course-detail :course-title="scope.row.name" :course-id="scope.row.id"></course-detail>
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="Количество учащихся на курсе"
                                width="250">
                            <template slot-scope="scope">

                            </template>
                        </el-table-column>
                    </el-table>

            </template>
            </div>
        `,
        data() {
            return {
                title: 'Список курсов',

                course: [
                    {
                        id: '1',
                        theme: 'Тематика курса 1',
                        name: 'Название курса 1',
                        description: 'Описание курса 1',
                        date: '10.12.2019',
                        link: 'http://test.ru/'
                    },
                    {
                        id: '2',
                        theme: 'Тематика курса 2',
                        name: 'Название курса 2',
                        description: 'Описание курса 2',
                        date: '09.12.2019',
                        link: 'http://test.ru/'
                    }
                ],

            }
        },
        mounted() {
            if (localStorage.getItem('course')) {
                try {
                    this.course = JSON.parse(localStorage.getItem('course'));
                } catch (e) {
                    localStorage.removeItem('course');
                }
            }
        },
        methods: {
            addCourseToStorage() {
                const parsed = JSON.stringify(this.course);

                localStorage.setItem('course', parsed);
            }
        }
    });

    var app = new Vue({
        el: '#app'
    });
</script>

</html>
