<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>

<body>
<link rel="stylesheet" href="src/element-ui/lib/theme/index.css"/>
<link rel="stylesheet" href="src/css/main.css"/>

<div id="app">
    <div class="course-content">
        <div class="course-title">{{ title }}</div>

        <div class="course-body">
            <template>
                <el-table
                        :data="course"
                        style="width: 100%">
                    <el-table-column
                            label="Тематика курса"
                            width="150">
                        <template slot-scope="scope">
                            {{scope.row.theme}}
                        </template>
                    </el-table-column>
                    <el-table-column
                            label="Название курса"
                            width="150">
                        <template slot-scope="scope">
                            {{scope.row.name}}
                        </template>
                    </el-table-column>
                    <el-table-column
                            label="Описание курса"
                            width="150">
                        <template slot-scope="scope">
                            {{scope.row.description}}
                        </template>
                    </el-table-column>
                    <el-table-column
                            label="Дата старта"
                            width="120">
                        <template slot-scope="scope">
                            {{scope.row.date}}
                        </template>
                    </el-table-column>
                    <el-table-column
                            label="Ссылка на видео"
                            width="150">
                        <template slot-scope="scope">
                            <a href="/">{{scope.row.link}}</a>
                        </template>
                    </el-table-column>
                    <el-table-column
                            label="Список учащихся"
                            width="500">
                        <template slot-scope="scope">
                            <div class="students-list" v-for="(item, index) in student">
                                <div class="students-item">
                                    <div class="student-item">{{ item.family }}</div>
                                    <div class="student-item">{{ item.name }}</div>
                                    <div class="student-item">{{ item.surname }}</div>
                                    <div class="student-item del">
                                        <i class="el-icon-close" @click="deleteStudent(index)"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="students-btns">
                                <div class="students-btn">
                                    <el-button type="primary" size="mini" @click="addBtn = true">Добавить</el-button>
                                    <el-dialog :visible.sync="addBtn" title="Добавление учащегося">
                                        <div class="add-form">
                                            <input class="el-input__inner" placeholder="фамилия"
                                                   v-model="this.newStudentFamily">
                                            <input class="el-input__inner" placeholder="имя"
                                                   v-model="this.newStudentName">
                                            <input class="el-input__inner" placeholder="отчество"
                                                   v-model="this.newStudentSurname">

                                            <div class="add-form-btns">
                                                <el-button type="primary" @click="addNewStudent" size="mini">Добавить
                                                </el-button>
                                                <el-button @click="addBtn = false" size="mini">Отмена</el-button>
                                            </div>
                                        </div>
                                    </el-dialog>
                                </div>

                                <div class="students-btn"></div>
                            </div>
                        </template>
                    </el-table-column>
                </el-table>
            </template>
        </div>
    </div>


</div>
</body>


<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                addBtn: false,
                title: 'Карточка обучающего курса',

                course: [{
                    id: '1',
                    theme: 'Тематика курса 1',
                    name: 'Название курса 1',
                    description: 'Описание курса 1',
                    date: '10.12.2019',
                    link: 'http://test.ru/'
                }],

                student: [
                    {family: "Иванов", name: "Иван", surname: "Иванович"},
                    {family: "Петров", name: "Петр", surname: "Петрович"},
                    {family: "Сидоров", name: "Сидор", surname: "Сидорович"},
                ],
                newStudentName: null,
                newStudentFamily: null,
                newStudentSurname: null,
            }
        },

        mounted() {
            if (localStorage.getItem('student')) {
                try {
                    this.student = JSON.parse(localStorage.getItem('student'));
                } catch (e) {
                    localStorage.removeItem('student');
                }
            }
        },

        methods: {
            saveStudents() {
                const parsed = JSON.stringify(this.student);
                localStorage.setItem('student', parsed);
                this.addBtn = false;
            },

            deleteStudent(itemIndex) {
                this.student.splice(itemIndex, 1);
                this.saveStudents();
            },
            addNewStudent() {
                //console.log('test');
                this.student.push({
                    family: newStudentFamily,
                    name: newStudentName,
                    surname: newStudentSurname
                });
                this.saveStudents();
            },
        },
    })
</script>
</html>